.message {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 20px;
    .message-data {
        display: flex;
        flex-direction: column;
        .message-metadata{
            display: flex;
            gap: 20px;
        }
        .message-text{
            max-width: 50%;
            white-space: wrap;
        }
    }
}