.message {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 20px;
    width: 100%;
    .message-data {
        display: flex;
        flex-direction: column;
        width: 100%;
        .message-metadata{
            display: flex;
            gap: 20px;
            margin-bottom: 10px;
            .date {
                color: #757575;
            }
        }
        .message-text{
            white-space: wrap;
            color: #757575;
            width: 100%;
        }
    }
}